<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369074098860-u8cfgvmq5odsm4cd1g23aqdmjo6a4492.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369074098860-u8cfgvmq5odsm4cd1g23aqdmjo6a4492</string>
	<key>API_KEY</key>
	<string>AIzaSyCHAEbrFZ6AdXMlKvUlmELrxbwI1zCfoJU</string>
	<key>GCM_SENDER_ID</key>
	<string>369074098860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>login-27d96</string>
	<key>STORAGE_BUCKET</key>
	<string>login-27d96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369074098860:ios:ddcfd0fc06cd0aa8b4c509</string>
</dict>
</plist>